@page
@model PercipoBookChapter11.Pages.Product.IndexModel

<h2>Products</h2>

<a asp-page="Create">Add Product</a>

<hr />

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Created</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Products)
        {
            <tr>
                <td>@p.Name</td>
                <td>@p.Price</td>
                <td>@p.CreatedAt.ToShortDateString()</td>
                <td>
                    <form method="post" asp-page-handler="Delete">
                        <input type="hidden" name="id" value="@p.Id" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
