@page
@model PercipoBookChapter11.Pages.CustomerForMemoryModel

<h2>Customers</h2>

<form method="post">
    <input asp-for="Name" />
    <button type="submit">Add</button>
</form>

<hr />

<ul>
    @foreach (var c in Model.CustomerForMemorys)
    {
        <li>@c.Name</li>
    }
</ul>
